<p>You are now in the edit rak hbs</p>

<div class="redirectEdit">
  <button><a href="/search/{{id}}">add more movies</a></button>
</div>

{{!-- Display rak's movies and delete button functionality --}}
<div class="rakContents">
  {{movie}}
  {{#each movie}}
  <h3>{{this.title}}</h3>
  <p>{{this.genre_names}}</p>
  <p>{{this.vote_average}}</p>
  <p>{{this.overview}}</p>
  <img src="https://image.tmdb.org/t/p/w1280{{poster_path}}" alt="">
  <form action='/profile/{{_id}}/delete' method="POST">
    <button id="editRak" type="submit">remove</button>
  </form>
  {{/each}}
</div>