<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <div class="userIcon">

    <a href="/profile"><img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png"
        style="width:50px;height:50px;" alt="">{{user.username}}</a>
  </div>

  <nav class="nav-bar">

    <a href="/search/{{id}}">Search</a>
    <a href="create-rak/">new rak</a>
    <a href="logout/">logout</a>


  <nav class="userIcon navbar navbar-light" style="background-color: #B84283">
    <a class="navbar-brand" href="/profile">
      <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" width="30" height="30"
        class="d-inline-block align-top" alt="">
      {{user.username}}
      <a class="navbar-brand" href="create-rak/">new rak</a>
      <a class="navbar-brand" href="logout/">logout</a>
    </a>
  </nav>

  {{{body}}}
  <br>

  <div id="footer">
    <p style="color:white">April 2019 - made by <a href="https://github.com/TasosKyr">Tasos</a>, <a
        href="https://github.com/Hamzaah86">Hamza</a> and <a href="https://github.com/AriParvin">Arian</a></p>

  </div>

  <script src="/javascripts/script.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</body>

</html>