<h2>{{user.username}}'s rak-room</h2>

{{#if user}}
<div class="idcon">
  {{renderId}}
</div>
<div>
  <div class="profileRak">
    {{#each collections}}
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{_movie}}</p>
    <button id="editRak" type="submit">x</button>

  </div>{{/each}}
  <form action="/newRak">
    <button id="newRak" type="submit">new rak</button>
  </form>
  <form action="/search/{{this.moviecollections}}" method="GET">
    <button id="goToSearch" type="submit">Search Page</button>
  </form>
</div>
{{/if}}