<div class="profile-background">
  <h1>{{user.username}}'s raks</h1>
  {{#if user}}
  <div class="idcon">
  </div>
  <div class="profile-cards">
    {{#each collections}}

    <a href="/edit-rak/{{this._id}}">{{this.name}}</a>
    <p>{{description}}</p>
    <div class="rakMovies">
      {{#each _movie}}
      <p>{{this.title}}</p>
    </div>{{/each}}
    <form action='/profile/{{_id}}/delete' method="POST">
      <div class="remove-2"><button id="editRak" type="submit">remove</button></div>
    </form>
    {{/each}}
  </div>
  <a href="/create-rak">
    <div class="new-rak"> <button id="newRak" type="submit">new rak</button></div>
  </a>
  </form>
</div>
{{/if}}

