<div class="profile-background">
  <h1>{{user.username}}'s raks</h1>
  {{#if user}}
  <div class="idcon">
  </div>
  <div class="profile-cards">
    {{#each collections}}
    <div class="profile-card card" style="width: 18rem;">
      <img class="card-img-top" src="/images/rakimageprofile.jpeg" alt="rak profil image">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="/edit-rak/{{this._id}}" class="btn btn-primary">View {{this.name}}</a>
        <form action='/profile/{{_id}}/delete' method="POST">
          <button id="editRak" type="submit">Delete {{this.name}}</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>