<div id="header" class="rakCreation">
  <h2>{{MovieColl.name}}</h2>
  <h3>Your movies:</h3>
  {{#each MovieColl._movie}}
  <div>
    {{this.title}}
    <img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}"></img>
  </div>
  {{/each}}
</div>

<div>
  <form action='/profile' method="get">
    <button type="submit">Go to you profile page</button>
  </form>
</div>

<div class="search">
  <h3>Search</h3>
  <form action='/search/{{MovieColl._id}}' method="get">
    <input type="text" placeholder="I'm interested in..." name='search'>
    <button class="itemSearch" type="submit">Search</button>
    <div class="movies"></div>
  </form>

</div>
{{#if results}}
{{#each results}}
<div class="itemResults">
  <h3>{{this.title}}</h3>
  {{!-- {{#if results}}
{{#each ressults}} --}}
  <p>{{this.genre_names}}</p>
  {{!-- {{/each}}
{{/if}} --}}
  <p>{{this.vote_average}}</p>
  <p>{{this.overview}}</p>
  <img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}"> </img>

  <form action='/add/{{../MovieColl._id}}' method="post">
    <input type="hidden" name="query" value="{{../query}}">
    <input type="hidden" name="id" value="{{this.id}}">
    <input type="hidden" name="title" value="{{this.title}}">
    <input type="hidden" name="genre_names" value="{{this.genre_names}}">
    <input type="hidden" name="vote_average" value="{{this.vote_average}}">
    <input type="hidden" name="overview" value="{{this.overview}}">
    <input type="hidden" name="poster_path" value="{{this.poster_path}}">
    <button class="addItem" type="submit">Add movie to your rak</button>
  </form>
</div> {{/each}} {{/if}}